<div data-role="view" data-title="Arquivos" data-layout="main-nonav" data-model="app.dataListViewFiles" data-show="app.dataListViewFiles.onShow" data-after-show="app.dataListViewFiles.afterShow">

    <!-- START_CUSTOM_CODE_dataListViewFiles -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_dataListViewFiles -->
    <ul data-role="listview" data-style="inset" data-template="dataListViewFilesModelTemplate" data-bind="{ source: dataListViewFilesModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_dataListViewFilesModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_dataListViewFilesModel -->
    <script type="text/x-kendo-template" id="dataListViewFilesModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Titulo'] #</h3>
            <p>#: data['file'] #</p>
        </div>
    </script>
</div>